.footer {
  padding: 2em 0;
  background: var(--scp-color-light-amber);
  color: var(--scp-color-eggplant);
  h2 {
    margin: 0;
  }
  h4 {
    font-size: 1.2em;
    margin: 1.5em 0 .5em 0;
  }
  .container {
    margin: 0 auto;
    max-width: 80%;
  }
  .columns {
    display: flex;
  }
  .column {
    margin: 0 auto;
    max-width: 50%;
    @media (max-width: 800px) {
      max-width: 85%;
    }
  }
  
  .contact {
    .col{
      flex: 0 0 50%;
      max-width: 50%;
      margin-right: 2em;
      @media (max-width: 800px) {
        flex: 1;
        max-width: 100%;
      }
  }
}
.contact.columns {
  flex-wrap: wrap;

}
  .map {
    margin: 0 auto;
    display: flex;
    padding: 3.5em 0;
    img {
      // margin: 0 auto;
      max-width: 300px;
    }
  }
  .icon {
    margin-right: .8em;
  }
  
  .desktop {
    @media (max-width: 800px) {
      display: none; 
    }
  }

}

