$nav-bar-height: 4em;
$logo-margin: 2em;

.header {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 0;
  left: 0;
  background: var(--scp-color-mint);
  background-size: cover;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  

  .container {
    margin: 0 auto;
    max-width: 90%;
    display: flex;
  }

  .logo {
    img {
      max-height: 4em;
      padding: .25em 0;
    }
  }
  .navbar {
    color: var(--scp-color-oxford);
    margin:0;
    padding: 0;
    height: $nav-bar-height;
    text-transform: uppercase;
    flex: 1;
  }

  nav ul {
    display: flex;
    height: $nav-bar-height;
    list-style-type: none;
    // margin: 0 2em 0 0;
    align-items: center;
    padding-bottom: 2em;
    justify-content: flex-end;
    li {
      margin: 0 1.5em;
      font-weight: 500;
    }
  }
  
}
.header.sticky {
    opacity: 1;
    visibility: visible;
}