$nav-bar-height: 6em;
$logo-margin: 2em;

.columns {
	pointer-events: none;
	display: flex;
	.column {
		width: 50%;
	}
}

.header {
	position: fixed;
	padding: 0;
	width: 100%;
	z-index: 9;
	top: 0;
	left: 0;
	background: transparent;
	background-size: cover;
	transition: all 0.6s ease 0s;
	-webkit-transition: all 0.6s ease 0s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	opacity: 1;
	visibility: visible;

	.left {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.right {
		display: flex;
		height: 96px;
		flex-direction: column;
		background: var(--scp-color-sacramento);
	}

	.overflow {
		height: 100px;
		width: 100%;
		background-color: transparent;
	}

	.container {
		margin: 0 auto;
		max-width: 90%;
		display: flex;
	}
	
	.logocontainer {
		height: 96px;
		width: 100%;
		background: var(--scp-color-sacramento);
		@media (max-width: 900px) {
			background: transparent;
		}
	}

	@media (max-width: 900px) {
		.left {
			width: 100%;
		}
		.right {
			display: none;
		}
	}

	.logo {
		height: 96px;
		margin: 0 auto;
		width: 80%;
		img {
			margin: 2em 0;
			padding: .25em 0;
			height: 6em;
			background: var(--scp-color-sacramento);
		}
		@media (max-width: 900px) {
			display: none;
			img {
				height: 5.5em;
			}
		}
		@media (max-width: 600px) {
			img {
				margin: 2em 0;
				height: 5em;
				padding: .35em 0;
			}
		}
	}

	.logocontainer {
		height: 96px;
		width: 100%;
		background: var(--scp-color-sacramento);
		@media (max-width: 900px) {
			background: transparent;
		}
	}

	.svg {
		pointer-events: auto;
		width: 100%;
		margin: 2em 0;
		transform-origin: top left;
	}
	.navbar {
		pointer-events: auto;
		color: white; //var(--scp-color-oxford);
		margin: 0;
		padding: 0;
		height: $nav-bar-height;
		text-transform: uppercase;
		flex: 1;
		background: var(--scp-color-mint);
		@media (max-width: 600px) {
			display: none;
		}
	}

	nav ul {
		display: flex;
		height: $nav-bar-height;
		list-style-type: none;
		margin: 0 2em 0 0;
		align-items: center;
		justify-content: flex-end;
		li {
			margin: 0 1.5em;
			font-weight: 500;
		}

		@media (max-width: 1200px) {
			li {
				margin: 0 1.25em;
			}
		}

		@media (max-width: 1000px) {
			// li:first-child {
			//   display: none;
			// }
			li {
				margin: 0 1.15em;
			}
		}
	}
}
