.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--nav-bar-height);

	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 50%;
	z-index: 1;
	
	@media (max-width: 900px) {
		grid-auto-columns: 100%;
	}

	.logocontainer {
		height: 96px;
		width: 100%;
		padding: 2rem 4rem;
		background: var(--scp-color-sacramento);
		@media (max-width: 1200px) {
			padding: 2rem 1.5rem;
			gap: 1rem;
		}
		@media (max-width: 900px) {
			display: none;
		}
	}

	.svg {
		transform-origin: top left;
	}

	#nav-toggle {
		display: none;
	}

	#nav-toggle-label {
		display: none;
		cursor: pointer;
		@media (max-width: 900px) {
			--size: calc(var(--nav-bar-height) / 3);
			--bar-height: 4px;
			position: fixed;
			right: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex-basis: auto;
			width: var(--size);
			height: var(--size);
			margin-right: var(--size);
			margin-top: var(--size);
			z-index: 2;
		}
	}

	.bar {
		@media (max-width: 900px) {
			display: inline-block;
			height: var(--bar-height);
			width: 100%;
			z-index: 3;
			background: var(--scp-color-light-amber);
			transition: transform var(--transition)
		}	
	}

	#nav-toggle:checked + * + nav {
    clip-path: circle(150vmax at 100% 0%);
    background-color: var(--bg-color);
  }

	#nav-toggle:checked + #nav-toggle-label > .bar:nth-child(1) {
    transform: 
      translate(0, calc(var(--size) / 2 - var(--bar-height) / 2)) 
      rotate(225deg);
  }

  #nav-toggle:checked + #nav-toggle-label > .bar:nth-child(2) {
    transform: scaleX(0);
  }

  #nav-toggle:checked + #nav-toggle-label > .bar:nth-child(3) {
    transform: 
      translate(0, calc(-1 * var(--size) / 2 + var(--bar-height) / 2)) 
      rotate(135deg);
  }

	.navbar {
		color: white;
		margin: 0;
		padding: 0;
		height: var(--nav-bar-height);
		text-transform: uppercase;
		background: var(--scp-color-mint);
		@media (max-width: 900px) {
			position: fixed;
			top: 0;
			right: 0;
			height: 16rem;
			width: 100%;
			clip-path: circle(
				calc(var(--nav-bar-height) / 3)
				at
				calc(100% - var(--nav-bar-height) / 2)
				calc(0% + var(--nav-bar-height) / 2)
			);

			transition: clip-path var(--transition-long);
		}

	}

	ul {
		float: right;
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: max-content;
		grid-template-rows: 1fr;
		gap: 2rem;

		padding: 2.25rem 4rem;
		list-style-type: none;
		font-weight: 500;
		@media (max-width: 900px) {
			float: none;
			grid-auto-flow: row;
			grid-template-columns: 1fr;
			grid-template-rows: none;
			grid-auto-rows: max-content;
		}
		@media (max-width: 1200px) {
			padding: 2.25rem 1.5rem;
			gap: 1.5rem;
		}
		@media (max-width: 1000px) {
			gap: .75rem;
		}
	}
}