$nav-bar-height: 6em;
$logo-margin: 2em;


.columns {
  display: flex;
  min-height: 100vh;
  .column {
    width: 50%;
  }  
}

.banner {
  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--scp-color-sacramento);
  }

  @media (max-width: 600px) {
    .left {
      width: 100%;
      background: url("/images/seniors-in-the-park-background.jpg") top center no-repeat;
    }
    .right {
      display: none;
    }
  }

  .logo {
    margin: 0 auto;
    width: 80%;
    img {
      margin: 2em 0;
      height: 4em;
    }
  }
  
  .tagline {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0em auto;
    padding-bottom: $nav-bar-height;
    max-width: 80%;
    color: white; 
    h1 {
      font-weight: 400;
      font-size: 2.5em;
    }
    p {
        margin: 1.5em 0;
        line-height: 1.25em;
        font-size: 1.4em;
    }
    @media (max-width: 600px) {
      h1 {
        font-size: 2.1em;
      }
      
      p {
        margin: 1.25em 0;
        line-height: 1.25em;
        font-size: 1.3em;
      }
      padding-bottom: $nav-bar-height + $logo-margin;
    }
  }
  
  .navbar {
    margin:0;
    padding: 0;
    height: $nav-bar-height;
    background: var(--scp-color-mint);
    text-transform: uppercase;
  }

  nav ul {
    display: flex;
    height: $nav-bar-height;
    list-style-type: none;
    margin: 0 2em 0 0;
    align-items: center;
    justify-content: flex-end;
    li {
      margin: 0 1.5em;
      font-weight: 500;
    }
  }

  .hero {
    min-height: calc(100vh - 6em);
    background: url("/images/seniors-in-the-park.jpg") top center no-repeat;
    background-size: cover
  }
}


.button {
  padding: 8px 50px;
  text-transform: uppercase;
  border: none;
  font-size: .9em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.primary.button {
  background-color: var(--scp-color-light-amber);
}




