.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columns {
  min-height: 100vh;
  display: flex;
}

.banner .column {
  width: 50%;
}

.banner .left {
  background: var(--scp-color-sacramento);
}

.tagline h1 {
  font-weight: 400;
  font-size: 2.5em;
}

.tagline p {
  margin: 1.5em 0;
  line-height: 1.25em;
  font-size: 1.4em;
}

.banner .tagline {
  margin: 0 auto;
  max-width: 80%;
  color: white; 
}

.banner .logo {
  margin: 0 auto;
  max-width: 80%;
  
}

.logo img {
  margin: 1em 0;
  height: 4em;
}

.banner .navbar {
  margin:0;
  padding: 0;
  height: 5em;
  background: var(--scp-color-mint);
  text-transform: uppercase;
}

.banner nav ul {
  list-style-type: none;
}


.hero {
  min-height: 100%;
  background: url("/images/seniors-in-the-park.jpg") top center no-repeat;
  background-size: cover
}

.button {
  padding: 8px 50px;
  text-transform: uppercase;
  border: none;
  font-size: .9em;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  cursor: pointer;
}

.primary.button {
  background-color: var(--scp-color-light-amber);
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
