.news-article {
    margin: auto;
    margin-top: 84px;
    max-width: 1200px;
    > .content {
        max-width: 80%;
        margin: 0 auto;
        padding: 2em 0;
        > .date {
            font-style: italic;
        }
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.scpmotif{

    margin: auto;
    height: 320px;
    padding: 5px;
    background: url("/images/featuredImageBG.svg");
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 900px) {
        height: 220px;
    }
}

.imagecontainer {
    position: relative;
    height: 310px;
    @media (max-width: 900px) {
        height: 210px;
    }
}

.landscape {
    float: right;
    margin-top: 0px;
    margin-left: 20px;
    width: 400px;
    padding-top: 1em;
    margin-bottom: 20px;
}

.portrait {
    float: right;
    margin-top: 0px;
    margin-left: 20px;
    width: 280px;
    padding-top: 1em;
    margin-bottom: 10px;
}

.markdown {
    text-align: justify;
    text-justify: inter-word;
}