.news-article {
    padding-top: var(--nav-bar-height);
    margin: 0;
    @media (max-width: 900px) {
        padding-top: 1rem;
    }
    > .content {
        margin: 0 auto;
		padding:0 1rem 1rem 1rem;
		max-width: 55rem;
        > .date {
            font-style: italic;
        }
    }
}

.logo {
    display: none;
    @media (max-width: 900px) {
        display: block;
        img {
            margin: 0;
            width: 60vw;
        }
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.heading {
    margin: 2rem 0 1rem;
}

.separator {
    border: 1px solid var(--scp-color-dark-grey);
}

.landscape {
    float: right;
    margin-top: 0px;
    margin-left: 20px;
    width: 460px;
    padding-top: 1em;
    margin-bottom: 20px;
    @media (max-width: 900px) {
        float: none;
        margin: 0;
        width: 90vw;
        margin-bottom: 1rem;
    }
}

.portrait {
    float: right;
    margin-top: 0px;
    margin-left: 20px;
    width: 380px;
    padding-top: 1em;
    margin-bottom: 10px;
    @media (max-width: 900px) {
        float: none;
        margin: 0;
        width: 90vw;
        margin-bottom: 1rem;
    }
}

.markdown {
    text-align: justify;
    text-justify: inter-word;
    p {
        margin-top: 1.5rem;
    }
}

.related-articles {
    margin: 1rem 0 .5rem;
    color: var(--scp-color-sacramento);
    .related-article {
        color: var(--scp-color-mint);
        margin: .5rem 0 0;
    }
}