.news-preview {
	max-width: 84rem;
	margin: 4rem auto;
	@media (max-width: 900px) {
		margin: 2rem auto 0;
	}
	h2 {
		margin-bottom: 1rem;
		margin-left: 1rem;
		@media (max-width: 900px) {
			margin: 5vw;
		}
	}

	.button::before {
		content: '>>';
		padding-right: .5em;
	}
	.button {
		font-family: 'Heebo', sans-serif;
		padding: 8px 20px;
		margin-left: 1rem;
		text-transform: uppercase;

		text-align: center;
		text-decoration: none;
		display: inline-block;
		cursor: pointer;

		background-color: var(--scp-color-mint);
		color: white;
		font-weight: bold;
		@media (max-width: 900px) {
			display: none;
		}

		&:focus {
			color: var(--scp-color-mint);
			background-color: white;
		}
	}
	.last-slide-link {
		display: none;
		@media (max-width: 900px) {
			display: inline-block;
			margin-top: 7.8rem;
			margin-left: 1.2rem;
			height: 2.4rem;
		}
		font-family: 'Heebo', sans-serif;
		padding: 8px 20px;
		text-transform: uppercase;
		text-align: center;
		text-decoration: none;
		cursor: pointer;

		background-color: var(--scp-color-mint);
		color: white;
		font-weight: bold;

		&:focus {
			color: var(--scp-color-mint);
			background-color: white;
		}
	}
	.card-container {
		display: flex;
		flex-basis: 33.333333%;
		flex-wrap: wrap;
		justify-content: center;
		@media (max-width: 900px) {
			display: none;
		}
	}
	.card-slider {
		display: none;
		@media (max-width: 900px) {
			display: block;
			height: 23rem;
		}
		.buttons {
			display: none;
			@media (max-width: 900px) {
				display: grid;
				margin: 1vw 5vw;
				grid-auto-flow: column;
				justify-content:space-between;
				.button-back {
					border: none;
					height: auto;
					width: 2rem;
					background-color: white;
					.back-arrow {
						color: var(--scp-color-mint);
					}
				}
				.button-next {
					border: none;
					height: auto;
					width: 2rem;
					background-color: white;
					.next-arrow {
						color: var(--scp-color-mint);
					}
				}
			}
		}
	}
}
