$selected-color: var(--scp-color-dark-grey);
$disabled-color: var(--scp-color-light-grey);
$item-color: var(--scp-color-dark-grey);
$pagination-item-size: 2.5rem;
$pagination-item-size-on-mobile: 2rem;
$pagination-item-border-radius: 0;

.pagination-container {
  display: flex;
  list-style-type: none;
  .pagination-item {
    font-family: 'Heebo', sans-serif;
    height: $pagination-item-size;
    min-width: $pagination-item-size;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $item-color;
    box-sizing: border-box;
    border-radius: $pagination-item-border-radius;
    align-items: center;
    letter-spacing: 0.01071em;
    line-height: 1.1rem;
    font-size: 1rem;
    font-weight: 400;
    @media (max-width: 900px) {
      height: $pagination-item-size-on-mobile;
      min-width: $pagination-item-size-on-mobile;
    }
    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer;
    }

    &.selected {
      background-color: $selected-color;
			color: white;
    }
    &.disabled {
      pointer-events: none;
      color: $disabled-color;
      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
  .prev {
    text-align: center;
  }
  .next {
    text-align: center;
  }
}