.pitch {
  background: var(--scp-color-blush);
  color: var(--scp-color-oxford);
  min-height: 40vh;
  display: flex;
  align-items: center;
  width: 100%;
  background: url("/images/helping-hands-bck-bw.jpg") center center no-repeat;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
  .container {
    max-width: 80%;
    margin: 0 auto;
    flex: 1;
    padding-bottom: 3em;
  }
  h2 {
    font-size: 2em;
    max-width: 50%;
  }

  @media (max-width: 600px)  {
    background: var(--scp-color-blush);
    h2 {
      font-size: 1.6em;
      max-width: 100%;
    }
  }
  @media (max-width: 400px)  {
    h2 {
      font-size: 1.5em;
    }
  }
}

.button {
  font-family: 'Heebo', sans-serif;
  padding: 8px 50px;
  text-transform: uppercase;
  border: none;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button.inverted {
  background-color: none;
  font-weight: bold;
  border: .2em solid  var(--scp-color-oxford);
}
