.quotes {
  background: var(--scp-color-blush);
  min-height: 30vh;

  .carouselScaler {
    margin: 0 auto;
    max-width: 800px;
    @media (max-width: 1000px) {
      max-width: 700px;
    }
    @media (max-width: 700px) {
      max-width: 80vw;
    }
    
  }
  .provider{
    padding: 2em 0;
    margin: 0 auto;
    // max-height: 50vh;
    max-width: 80%;
  }

  .slide {
    border: 1em solid white;
    
    background: url("/images/quote-card2.png") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    // background: url("/images/seniors-in-the-park-background.jpg") top center no-repeat;
    // max-height:
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 80%;
    margin: 0 auto;
    div {
      margin-top: 1.2em;
    }
    .quote {
      font-size: 2.4em;
      line-height: 1.2em;
    }
    .byline {
      font-size: 1.4em;
      font-style: oblique;
      text-align: right;
    }

    
    @media (max-width: 1000px) {
      .quote {
        font-size: 2em;
        line-height: 1.15em;
      }
    }
    @media (max-width: 700px) {
      .quote {
        font-size: 1.7em;
        line-height: 1.15em;
      }
    }
    @media (max-width: 600px) {
      .quote {
        font-size: 1.5em;
        line-height: 1.15em;
      }
      .byline {
        font-size: 1.1em;

      }
    }
  }
}

