.resource-entry {
	padding: var(--nav-bar-height) 1rem 1rem;
	margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    gap: 4rem;
    max-width: 55rem;
    align-items: flex-start;
    @media (max-width: 900px) {
        padding-top: 1rem;
        grid-auto-flow: row;
        gap: 1rem;
    }
}

.content {
    margin: 0 auto;
    > .date {
        font-style: italic;
    }
}


.logo {
    display: none;
    @media (max-width: 900px) {
        display: block;
        img {
            margin: 0;
            width: 60vw;
        }
    }
}

.heading {
    margin: 1rem 0 1rem;
}

.cat-sub{
    margin-top: 1rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: .9rem;
    color: var(--scp-color-grey);
    line-height: 1rem;
    font-style: italic;
}

.separator {
    border: 1px solid black;
}

.download-section {
    margin: 2rem 0 1rem;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    align-items: flex-start;
    @media (max-width: 900px) {
        grid-row: 2;
    }
    .files {
        display: grid;
        gap: .5rem;
        .link {
            justify-self: center;
            font-family: 'Heebo', sans-serif;
            padding: 3px 10px;
            text-transform: uppercase;
            width: 8rem;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            background-color: none;
            font-weight: bold;
            border: .1em solid var(--scp-color-eggplant);
        }
    }
}

.imagecontainer {
    width: 16rem;
    @media (max-width: 900px) {
        margin: 0;
        width: 90vw;
    }
}

.markdown {
    text-align: justify;
    text-justify: inter-word;
    p {
        margin-top: 1.5rem;
    }
}