.resource-feed {
	margin: 0;
	> .content {
		max-width: 80%;
		margin: 0 auto;
		padding: 2em 0;
		max-width: 1350px;

		> .section-heading {
			margin: .6em 1.6em;
			font-size: 1.5em;
			color: var(--scp-color-eggplant);

			h2 {
				margin: 0;
			}
		}

		> .page-controls {
			display: flex;
			margin-right: 2.5em;
			> .search-form {
				display: flex;
				margin: 0 auto 0 2.6em;
				> .search {
					max-height: 34px;
					margin: 1.5em 3em 0 auto;
					border-radius: 2px;
					width: 400px;
					border: 2px solid var(--scp-color-eggplant);

					> label {
						display: block;
						margin: 0 0 0 .5em;
						font-family: 'Heebo', sans-serif;
						font-size: .8em;
					}
				}

				&:focus-within {
					--focus-color: var(--scp-color-oxford-light);
				}

				i {
					color: var(--scp-color-grey);
					position: absolute;
					margin-left: .5em;
					margin-top: .2em;
				}
				input {
					margin: .5em;
					margin-left: 2em;
					border: none;
					&:focus {
						outline: none;
					}
				}

				> .category {
					max-height: 34px;
					margin: 0 1em 0 auto;
					max-width: 230px;
					display:inline-block;

					> label {
						display: block;
						margin: 0;
						font-family: 'Heebo', sans-serif;
						font-size: .8em;
					}
					
					> .category-list {
						margin: 0;
						width: 150px;
						height: 34px;
						border: 2px solid var(--scp-color-eggplant);
					}
				}

				> .subject {
					max-height: 34px;
					margin: 0 1em 0 0;
					max-width: 230px;
					display:inline-block;

					> label {
						display: block;
						margin: 0 0 0 0.5em;
						font-family: 'Heebo', sans-serif;
						font-size: .8em;
					}

					> .subject-list {
						margin: 0 0 0 .5em;
						width: 150px;
						height: 34px;
						border: 2px solid var(--scp-color-eggplant);
					}
				}
			}
			> nav {
				margin-top: .4em;
			}
			> nav .pagination {
				display: flex;
				flex-grow: 2;
				padding-left: 0;
				list-style: none;
				border-radius: .5rem;

				> .page-item {
					color: black;
					padding: 8px 16px;
					transition: background-color .5s;
				}

				> .page-item.active {
					background-color: var(--scp-color-eggplant);
					color: white;
				}

				> .page-item.disabled {
					color: var(--scp-color-light-grey);
				}

				> .page-item:hover:not(.active):not(.disabled) {
					background-color: #ddd;
				}
			}
		}

		> .no-results {
			padding-top: 5em;
			// vertical-align: ce;
			i {
				font-size: 1.5em;
				margin: 0 .5em;
				vertical-align: bottom;
			}
			min-height: 400px;
			font-size: 1.7em;
			color: var(--scp-color-grey);
			text-align: center;
			> .help-text {
				padding-top: .5em;
				font-size: .7em;
			}
		}
	}
	.card-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.spacer {
	height: 96px;
}
