.resource-entry {
	padding: var(--nav-bar-height) 1rem 1rem;
	margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    gap: 4rem;
    max-width: 55rem;
    @media (max-width: 900px) {
        padding-top: 1rem;
        grid-auto-flow: row;
        gap: 1rem;
    }
}

.content {
    margin: 0 auto;
    > .date {
        font-style: italic;
    }
}


.logo {
    display: none;
    @media (max-width: 900px) {
        display: block;
        img {
            margin: 0;
            width: 60vw;
        }
    }
}

.heading {
    margin: 1rem 0 1rem;
}

.separator {
    border: 1px solid black;
}

.download-section {
    margin: 2rem 0 1rem;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    @media (max-width: 900px) {
        grid-row: 3;
    }
}

.imagecontainer {
    width: 16rem;
    @media (max-width: 900px) {
        margin: 0;
        width: 90vw;
    }
}

.link {
    font-family: 'Heebo', sans-serif;
    padding: 3px 10px;
    text-transform: uppercase;

    text-align: center;
    text-decoration: none;
    cursor: pointer;

    background-color: none;
    font-weight: bold;
    border: .1em solid var(--scp-color-eggplant);
}