.team {
	.bootstrap {
		@import "~bootstrap/scss/bootstrap";
	}
	margin: 0;
	background: var(--scp-color-oxford);
	padding-bottom: 4rem;
	color: white;
	@media (max-width: 900px) {
		padding-bottom: .5rem;
		height: fit-content;
	}
	.content {
		max-width: 84rem;
		margin: 0 auto;
		@media (max-width: 900px) {
			padding: 2rem auto 0;
		}
	}

	.heading {
		display: flex;
	}

	h2 {
		font-size: 2em;
		color: var(--scp-color-light-amber);
		margin: 4rem 1rem 1rem;
		@media (max-width: 900px) {
			margin: 2rem 2.5vw 1rem;
		}
		@media (max-width: 600px) {
			margin: 2rem 5vw 1rem;
		}
	}

	.cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;
		@media (max-width: 900px) {
			display: none;
		}
	}

	.slides {
		display: none;
		@media (max-width: 900px) {
			display: block;
		}
		.buttons {
			display: none;
			@media (max-width: 900px) {
				display: grid;
				grid-auto-flow: column;
				justify-content:space-between;
				margin: 0 2.5vw 1rem;
				@media (max-width: 600px) {
					margin: 0 5vw 1rem;
				}
				.button-back {
					border: none;
					height: auto;
					width: 2rem;
					background-color: var(--scp-color-oxford);
					.back-arrow {
						height: 2rem;
						color: var(--scp-color-light-amber);
					}
				}
				.button-back:disabled {
					.back-arrow {
						visibility: hidden;					}
				}
				.button-next {
					border: none;
					height: 2rem;
					width: 2rem;
					background-color: var(--scp-color-oxford);
					.next-arrow {
						height: 2rem;
						color: var(--scp-color-light-amber);
					}
				}
				.button-next:disabled {
					.next-arrow {
						visibility: hidden;					}
				}
			}
		}
	}

	.member.card {
		margin: 0 1rem 1rem;
		width: 26rem;
		@media (max-width: 900px) {
			flex: none;
			max-width: none;
			height: fit-content;
			width: 45vw;
			padding: 0;
			margin: 0 2.5vw 0;
		}
		@media (max-width: 600px) {
			width: 90vw;
			height: fit-content;
			margin: 0 5vw 0;
		}
		img {
			object-fit: cover;
			width: 100%;
			height: auto;
		}
		h4 {
			font-size: 1.6rem;
			font-weight: 400;
			letter-spacing: 1px;
			margin-top: 0.5rem;
			margin-bottom: 0.25rem;
			display: flex;
	
			@media (max-width: 900px) {
				font-size: 1.3rem;
				margin-bottom: 0;
			}
			.pronouns {
				color: var(--scp-color-light-amber);
				font-size: .8rem;
				text-transform: uppercase;
				padding-left: .5rem;
				margin-left: auto;
				@media (max-width: 900px) {
					font-size: .6em;
				}
			}
		}
	}


	.position {
		font-size: .8rem;
		letter-spacing: 1px;
		font-weight: 700;
		text-transform: uppercase;
		padding-bottom: .25rem;
		margin-top: 0;
		min-height: 2rem;
		@media (max-width: 900px) {
			min-height: 3.3rem;
			font-size: .8em;
		}
	}

	.read-more {
		display: flex;
		background: none;
		text-transform: uppercase;
		border: none;
		padding: 0;
		border-top: 1px solid var(--scp-color-light-amber);
		padding-top: .2em;
		font-size: 1rem;
		width: 100%;
		color: var(--scp-color-light-amber);
		.text {
			flex-shrink: 1;
		}
		.icon {
			display: flex;
			flex: 1;
			justify-content: flex-end;
		}
		@media (max-width: 900px) {
			font-size: .8rem;
		}
	}

	.team-bio {
		display: none;
		overflow: hidden;
		text-align: justify;
		text-justify: inter-word;
		// TODO: resolve transition
		// max-height: 0;
		// transition: max-height 0.2s ease-out;
		@media (max-width: 900px) {
			font-size: .95em;
		}
	}

	.expanded.team-bio {
		// transition: max-height 0.2s ease-out;
		display: block;
		// max-height: 5em;
	}
}
