.about-us {
  display: flex;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  
}

.columns {
  flex: 1;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  

  .column {
    margin: 0 auto;
    width: calc(100% / 5);
  }  
  .mobile {
    display: none;
  }

  @media (max-width: 1000px) {
    .column {
      width: calc(100% / 4);
    }  
  }
  @media (max-width: 850px) {
   
      font-size: .9em;
    
  }

  @media (max-width: 600px) {
    margin: 2em auto;
   flex-direction: column;
   text-align: center;
   h2 {
     display: flex;
      justify-content: center;
   }
   
     
   
   .column {
     margin: 1.5em auto;
    width: 80%;
  } 
  .desktop {
    display: none;
  }
  .mobile {
    font-size: 2.2em;
    padding: 0 .2em 0;
    display: inline-block;
  }
  }
}